{% extends "LivreBundle::base.html.twig" %}

{% block title %} Ma bibliothèque{% endblock %}

{% block title_header %}
    Ma bibliothèque
{% endblock %}
{% block body %}
    <div class="col-sm-2">
        Menu de la partie
    </div>
    <div class="col-sm-6">
        Liste & ajout
    </div>
{% endblock %}