<div class="col-sm-12">
    {{ form_start(form_nouveau_lieu) }}
    <div>
        {{ form_row(form_nouveau_lieu.nom) }}
    </div>
    <div>
        {{ form_row(form_nouveau_lieu.adresse) }}
    </div>
    {{ form_end(form_nouveau_lieu) }}
</div>