{% import "macro/general.html.twig" as generalMacro %}
{% extends "LivreBundle::base.html.twig" %}
{% block javascripts %}
    <script>
        var zone_recherche_visible = false;
    </script>
    <script src="{{ asset('js/livre_liste.js') }}"></script>
    <script src="{{ asset('js/liste.js') }}"></script>
{% endblock %}
{% block title_header %}
    Liste des livres
{% endblock %}
{% block body %}
    <div class="col-sm-6" id="liste_livre_bloc">
        <div id="recherche_livre_bloc">
            <h2 id="recherche_livre_titre">
                Recherche sur les livres
                <small>
                    <span id="recherche_livre_ouvrir" class="glyphicon glyphicon-resize-full"></span>
                    <span id="recherche_livre_fermer" class="glyphicon glyphicon-resize-small"></span>
                </small>
            </h2>
            <div id="recherche_livre">
                {{ form(form_recherche) }}
            </div>
        </div>
        <h2>Liste des livres</h2>
        <div id="liste_livre">
          {% embed 'LivreBundle:Block:livre_liste.html.twig' %}
            {% endembed %}
        </div>
    </div>
    <div class="col-sm-6">
        <div id="detail_livre">

        </div>
    </div>
{% endblock %}
