<h4>Connexion</h4>


<form id="frmConnexion" action="{{ path('fos_user_security_check') }}" method="post">
    {% if error is defined and error is not empty%}
        <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <label for="username">Email :</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />

    <label for="remember_me">Se souvenir de moi</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <input type="hidden" name="_target_path" value="commun_homepage" />
    <input type="hidden" name="hidDevise" id="hidDevise" value="" />

    <button id="btnConnexion" type="submit" class="btn-default btn">Se connecter</button>
</form>

<h4>Enregistrement</h4>
{{ form(form_enregistement) }}
