{% block corps_html %}
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="ISO-8859-1">
        <title>
            Changesous -
            {% block content_title %}
            {% endblock %}
        </title>
        <meta content="width=device-width"/>
        <style type="text/css">
            body {
                margin: 10px;
                padding: 0px;

                -webkit-text-size-adjust: none;
                -ms-text-size-adjust: none;

                font-family: Arial, Helvetica, Geneva, sans-serif;
                font-size: 12px;
            }

            a {
                text-decoration: none;
                color: #0a8ebf;
            }

            .ReadMsgBody {
                width: 100%;
            }

            .ExternalClass {
                width: 100%;
            }
        </style>
    </head>
    <body style="margin:10px;padding:0px;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-family:Arial, Helvetica, Geneva, sans-serif;font-size:12px;"
          marginheight="0" marginwidth="0">
    <font face="arial" style="font-size: 12px;">
        {% block html %}
        {% endblock %}
        <br/>
        -- Changesous
        {% if url_retour is defined and url_retour is not null and url_retour|length>0 %}
            <a href="{{ url_retour }}" target="_blank">{{ url_retour }}</a>
        {% endif %}


    </font></body>
    </html>
{% endblock %}
{% block corps_text %}

{% endblock %}

{% block subject %}
    sujet
{% endblock %}